@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Space+Grotesk:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

:root {
    --vividYellow: #f1c232;
    --mediumGrey: #333333;
    --darkGrey: #242424;
    --lightGrey: #5b5b5b;
    --whiteWords: #fff;
}


body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--darkGrey);
}
::selection{
  color: var(--vividYellow);
  background: var(--darkGrey);
}
.wrapper{
  width: 400px;
  background: var(--mediumGrey);
  border-radius: 7px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.darkGrey {
    color: var(--lightGrey)
}

.yellow {
    color: var(--vividYellow);
}

.white {
    color: white;
}

.wrapper header{
  display: flex;
  font-size: 21px;
  font-weight: 500;
  color: var(--vividYellow);
  padding: 16px 15px;
  align-items: center;
  border-bottom: 1px solid var(--vividYellow);
}

header i{
  font-size: 0em;
  cursor: pointer;
  margin-right: 8px;
}
.wrapper.active header i{
  margin-left: 5px;
  font-size: 30px;
}
.wrapper .input-part{
  margin: 20px 25px 30px;
}
.wrapper.active .input-part{
  display: none;
}
.input-part .info-txt{
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.input-part .info-txt.error{
  color: var(--mediumGrey);
  display: block;
  background: #ffdc73;
  border: 1px solid #ffdc73;
}
.input-part .info-txt.pending{
    color: var(--mediumGrey);
    display: block;
    background: #ffdc73;
    border: 1px solid #ffdc73;
}
.input-part :where(input, button){
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
}
.input-part input{
  text-align: center;
  padding: 0 15px;
  border: 1px solid #ccc;
}
.input-part input:is(:focus, :valid){
  border: 2px solid var(--vividYellow);
}
.input-part input::placeholder{
  color: var(--lightGrey);
}
.input-part .separator{
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator::before{
  content: "or";
  color: #b3b3b3;
  font-size: 19px;
  padding: 0 15px;
  background: #fff;
}

.wrapper .weather-part{
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.active .weather-part{
  display: flex;
}
.weather-part img{
  max-width: 125px;
}
.weather-part .temp{
  display: flex;
  font-weight: 500;
  font-size: 72px;
}
.weather-part .temp .numb{
  font-weight: 600;
}
.weather-part .temp .deg{
  font-size: 40px;
  display: block;
  margin: 10px 5px 0 0;
}
.weather-part .weather{
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}
.weather-part .location{
  display: flex;
  font-size: 19px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  align-items: flex-start;
}
.location i{
  font-size: 22px;
  margin: 4px 5px 0 0;
}
.weather-part .bottom-details{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid var(--vividYellow);
}
.bottom-details .column{
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
  color: white;
}
.column i{
  font-size: 40px;
}
.column.humidity{
  border-left: 1px solid var(--vividYellow);
}
.column .details{
  margin-left: 3px;
}
.details .temp, .humidity span{
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
  color: white;
}
.details .temp .deg{
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
  color: white;
}
.column .details p{
  font-size: 14px;
  margin-top: -6px;
  color: white;
}
.humidity i{
  font-size: 37px;
}